{% extends 'chip/_layout.html' %}
{% block content %}
<div class="panel panel-default">
  
    <div class="panel-body">
<div id="statuspanel">
    <div style='color:#000000'>IP: <span style='color:#000000'> {{wifi.ip}} </span></div>
</div>
<div id="networks">
    <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Имя сети</th>
                    <th>Уровень сигнала</th>
                    <th>Скорость</th>
                    <th>Безопасность</th>
                </tr>
            </thead>
            <tbody>
    {% for net in wifi.nets %}
    <tr onclick="window.location.href = 'wifi/connect/{{ net.name }}';" style="cursor: pointer">
        {% if net.connected %}
                        <td width="1%"><span class="fa fa-check-circle" style='color:#00FF00'></span></td>
                        {% else %}
                        <td width="1%"><span class="fa fa-wifi" style='color:#000000'></span></td>
                        {% endif %}
                        <td class="col-md-3">{{ net.name }}</td>
                        <td class="col-md-3">{{ net.signal }}%</td>
                        <td class="col-md-3">{{ net.rate }} Mbit/s</td>
                        <td class="col-md-3">{{ net.security }}</td>
                    </tr>
    {% endfor %}
    </tbody>
        </table>
</div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
</script>
{% endblock scripts %}